@use "styles/bootstrap" as *;

.shoppingBagCard {
  display: flex;
  border-radius: 4px;
  background-color: $whiteColor;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);

  & > a img {
    width: 140px;
    height: 140px;
    aspect-ratio: 1 / 1;
  }
}

.infoBox {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 12px;

  & > div:not(.attributes) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  & img {
    width: 16px;
  }
}

.attributes {
  display: flex;
  justify-content: flex-start;
  font-style: italic;

  & span:first-child {
    margin-right: 10px;
    font-weight: 700;
  }
}

.quantityBox {
  display: flex;
  align-items: center;

  & input {
    position: relative;
    width: 55px;
    height: 100%;
    padding: 10px;
    text-align: center;
    border: none;
    border-bottom: 1px solid $coralPink;
    background-color: $softBlush;

    -moz-appearance: textfield;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  & button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: $softBlush;
  }
}

.price {
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 0.04rem;
}

.disabled {
  cursor: no-drop;
}

.warningBanner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: red;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 4px 0;
  z-index: 10;
  border-radius: 4px 4px 0 0;
}
.shoppingBagCard {
  position: relative;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
}
