@use "styles/bootstrap" as *;

.customerDetails{
  padding: 20px;
  border: 1px solid $lightGrey;
  border-radius: 4px;

  & h3{
    font-size: 24px;
  }
}

.detailsBox{
  padding: 20px 0;
  & input{
    margin-bottom: 15px;
  }
}

.orderComments{

  & span{
    font-weight: 700;
    font-size: 14px;
  }

  & textarea{
    width: 100%;
    resize: none;
    padding: 5px 10px;
    margin-top: 5px;
    outline: none;
  }
}