@use "styles/bootstrap" as *;

.customerDetails {
  padding: 20px;
  border: 1px solid $lightGrey;
  border-radius: 4px;
  background-color: $whiteColor;

  & h3 {
    font-size: 24px;
  }
}

.detailsBox {
  padding: 20px 0;
  & input {
    margin-bottom: 15px;
  }
}

.orderComments {
  & span {
    font-weight: 700;
    font-size: 14px;
  }

  & textarea {
    width: 100%;
    resize: none;
    padding: 5px 10px;
    margin-top: 5px;
    outline: none;
  }
}

.deliveryType {
  & span {
    font-size: 14px;
    font-weight: 700;
  }

  & select {
    font-size: inherit;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
  }
}

.pickupAddress {
  margin-bottom: 15px;
}

.postBox {
  display: flex;
  margin: auto;
  width: fit-content;
  margin-bottom: 15px;
  border: 1px solid $gainsboro;
  border-radius: 4px;

  & label:first-child {
    & input {
      margin-right: 15px;
    }
    & span {
      align-items: center;
    }
    & img {
      width: 35px;
      margin-right: 15px;
    }
  }

  & label:nth-child(2),
  & label:last-child {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: 20;
      left: 0;
      height: calc(100% - 40px);
      border-left: 1px solid gainsboro;
    }
  }

  & label:last-child {
    & input {
      margin-right: 15px;
    }
  }
}

.post {
  display: flex;
  align-items: center;

  padding: 15px;
  background-color: $whiteColor;

  & input {
    margin-top: 15px;
  }

  & span {
    display: flex;
    height: 60px;
  }

  & img {
    width: 200px;
    object-fit: cover;
  }
}
