@use "styles/bootstrap" as *;

.form {
  color: $whiteColor;
  margin-top: 20px;
  & input,
  & select {
    padding: 5px;
    margin-bottom: 5px;
  }

  & button {
    padding: 5px;
    margin: 5px;
    background-color: $whiteColor;
  }
}

.fieldset {
  margin: 20px 0;
}

.description {
  margin-bottom: 20px;

  & textarea {
    width: 100%;
  }
}

.newSettings {
  & label:not(:last-child) {
    margin-right: 30px;
  }
}
