@use "styles/bootstrap" as *;

.headerIcons {
  position: relative;
  display: flex;
  align-items: center;

  & > button {
    margin-right: 15px;
  }

  @include media(tablet) {
    display: none;
  }
}
