@use "styles/bootstrap" as *;

.checkoutInfo {
  @include media(laptopUp) {
    display: flex;
    gap: 10px;

    & > div:first-child {
      flex: 2;
    }
    & > div:last-child {
      flex: 1.5;
      border: 1px solid $lightGrey;
      border-radius: 4px;
      background-color: $whiteColor;
    }
  }
}
