@use "styles/bootstrap" as *;

.dropdown {
  position: relative;
  padding: 15px;
  border: 1px solid $grayVeryLight;
  border-radius: 4px;
}

.trigger {
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
  user-select: none;
  cursor: pointer;
}

.arrowImg {
  width: 10px;
  transform: rotate(90deg);
  transition: transform 0.3s ease;
}

.arrowImgOpen {
  transform: rotate(270deg);
}

.list {
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.3s ease, transform 0.3s ease,
    margin 0.5s ease;
  opacity: 0;
  transform: translateY(-10px);

  & label:not(:last-child) {
    margin-bottom: 15px;
  }
}

.open {
  margin-top: 15px;
  opacity: 1;
  transform: translateY(0);
}
