@use "styles/bootstrap" as *;

.productsTable {
  width: "100%";
  margin-top: 80px;

  & td {
    text-align: center;
  }

  & input[type="number"]::-webkit-outer-spin-button,
  & input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  & input[type="number"] {
    -moz-appearance: textfield;
  }
}

.category {
  font-weight: bold;
  background-color: "#eee";
}

.quantity,
.extraPrice {
  width: 60px;
  text-align: center;
  margin: 0 5px;
}

.extraPrice {
  margin-top: 15px;
}

.attributeNameQuantity {
  margin-bottom: 15px;
  visibility: hidden;
}

.attributeBoxQuantity {
  text-align: center;
  height: 22px;
}

.trashIcon {
  width: 30px;
  height: 30px;
  fill: $whiteColor;
  background-color: $alertRed;
  border-radius: 50%;
}

.attributes {
  text-align: center;

  & > div {
    display: flex;
    gap: 16px;
    justify-content: center;
    padding: 10px;
  }
}

.attributeName {
  font-weight: 900;
  margin-bottom: 15px;
}

.attributeBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.radioLabel {
  cursor: pointer;
  display: inline-flex;
  align-items: center;

  & span {
    padding: 2px 5px;
    border: 1px solid $whiteColor;
  }

  & input {
    margin-right: 5px;
  }

  input[type="radio"] {
    display: none;

    &:checked + span {
      border: 1px solid $darkBlue;
      color: $darkBlue;
    }
  }
}

.center {
  text-align: center;
}

.actions {
  text-align: center;
  padding: 10px;
}

.editBtn {
  width: 30px;
  & img {
    width: 100%;
  }
  margin-bottom: 20px;
}
