@use "styles/bootstrap" as *;

.productsTable {
  width: "100%";
  margin-top: 80px;

  & input[type="number"]::-webkit-outer-spin-button,
  & input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  & input[type="number"] {
    -moz-appearance: textfield;
  }
}

.attributeNameQuantity {
  margin-bottom: 15px;
  visibility: hidden;
}

.attributeBoxQuantity {
  text-align: center;
  height: 22px;
}

.trashIcon {
  width: 30px;
  height: 30px;
  fill: $pageBackground;
  background-color: red;
  border-radius: 50%;
}

.attributes {
  text-align: center;
}

.attributeName {
  font-weight: 900;
  margin-bottom: 15px;
}

.attributeBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
