@use "styles/bootstrap" as *;

.checkout {
  margin-top: 63px;
  padding: 80px 0;

  & h1 {
    margin-bottom: 15px;

    @include media(tabletLarge) {
      margin-left: 15px;
    }
  }
}
