$pageBackground: #f9fafb;
$textPrimary: #000000;
$backdropColor: #1b1b1b;
$darkCharcoal: #252525;
$backdrop: #00000080;
$gunmetal: #292929;
$lightGrey: #e0e0e0;
$whiteColor: #ffffff;
$grayDark: #d5d5d5;
$customRed: #e2401c;
$alertRed: #ff0000;
$lightGrayAlt: #ededed;
$panelBgDark: #3b3b3b;
$grayMedium: #c8c8c8;
$darkGreen: #00997a;
$greenMint: #00ca8d;
$grayLight: #959595;
$limeGreen: #77d230;
$softBlush: #fff9f8;
$coralPink: #ffb1a6;
$black40: #00000066;
$gainsboro: #dcdcdc;
$grayVeryLight: #d7d7d7;
$grayDarkest: #333333;
$overlayGray: #a6a6a673;
$slateGray: #888888;
$mediumGray: #ddd;
$silver: #ccc;
$lightGray: #f0f0f04d;
$blackLightTransparent: #1010104d;
$lightestGray: #f8f9fa;
$slateGrayDark: #767676;
$orangeAccent: #ff5b24;

$coralPink: #ffb1a6;

$footerBackground: linear-gradient(
  0deg,
  rgba(252, 240, 188, 1) 0%,
  rgba(252, 209, 221, 1) 75%,
  rgba(249, 183, 240, 1) 100%
);

$buttonGradient: linear-gradient(
  90deg,
  rgba(252, 240, 188, 1) 0%,
  rgba(252, 209, 221, 1) 75%,
  rgba(249, 183, 240, 1) 100%
);

$brilliance: #fdfdfd;
$blackColor: #212121;
$blackTransparentColor: #00000033;
$brilliance: #fdfdfd;
$semiTransparentBlack: #00000040;
$fadedGray: #95959533;
$paleGray: #ececec;
$lightSilver: #adadad;
$cream: #f5f5dc;

$whiteGhost: #ffffff14;
$steelGray: #454f5b;
$skyBlue: #4295e4;
$lightSky: #f2f8ff;
$cloudGray: #c4cdd5;
$darkNavy: #0d2436;
$darkBlue: #234ebd;
