$pageBackground: #ffffff;
$textPrimary: #000000;
$backdropColor: #1b1b1b;

$brilliance: #fdfdfd;
$blackColor: #212121;
$blackTransparentColor: #00000033;
$brilliance: #fdfdfd;
$semiTransparentBlack: #00000040;
$alertRed: #ff0000;
$grayLight: #959595;
$grayDark: #636363;
$lightGrey: #e0e0e0;
$fadedGray: #95959533;
$paleGray: #ececec;
$lightGray: #e0e0e0;
$lightSilver: #adadad;
$cream: #f5f5dc;
$darkGreen: #00997a;
$greenMint: #00ca8d;
$darkBlue: #234ebd;

$whiteColor: #ffffff;
$whiteGhost: #ffffff14;
$steelGray: #454f5b;
$skyBlue: #4295e4;
$gunmetal: #161c24;
$lightSky: #f2f8ff;
$cloudGray: #c4cdd5;
$darkNavy: #0d2436;
