@use "styles/bootstrap" as *;

.button {
  padding: 10px 20px;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  color: $whiteColor;
  background-color: $backdropColor;
  transition: all 0.5s ease;

  &:hover,
  &:focus {
    color: $backdropColor;
    background-color: $whiteColor;
    box-shadow: 2px 2px 12px 0 rgba(166, 166, 166, 0.45);
  }
}
