@use "styles/bootstrap" as *;

.searchBtnMobile {
  &:hover {
    scale: 1.1;
  }

  @include media(laptop) {
    display: none;
  }
}

.searchBtn {
  margin-right: 25px;

  &:hover {
    scale: 1.1;
  }
}

.search {
  width: 24px;
}
