@use "styles/bootstrap" as *;

.searchBtnMobile {
  &:hover {
    scale: 1.1;
  }

  @include media(laptop) {
    display: none;
  }
}

.searchBtn {
  margin-right: 25px;

  &:hover {
    scale: 1.1;
  }
}

.search {
  width: 24px;
}

.searchWrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.searchBtn,
.searchBtnMobile {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $black40;
  z-index: 10;
}

.inputWrapper {
  position: fixed;
  left: 0;
  width: 100vw;
  height: 64px;
  padding: 0 15px;
  background-color: $pageBackground;
  z-index: 100;
}

.input {
  position: relative;
  display: flex;
  align-items: center;
  width: calc(100% - 16px);
  height: inherit;

  @include media(laptop) {
    left: 7.5rem;
    width: calc(100% - 15rem);
  }
}

.searchInput {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 8px 32px 8px 32px;
  font-size: 16px;
  border: 1px solid $silver;
  border-radius: 4px;
  outline: none;
}

.iconLeft {
  position: absolute;
  left: 8px;
  pointer-events: none;
  width: 16px;
  height: 16px;
  fill: $slateGray;
  z-index: 100;
}

.clearBtn {
  position: absolute;
  right: 8px;
  font-size: 20px;
  line-height: 1;
  padding: 5px;
  color: $slateGray;
  border: none;
  background: transparent;
  cursor: pointer;
}

.searchList {
  position: absolute;
  top: 70px;
  padding: 32px 20px;
  width: 100%;
  background-color: $pageBackground;

  & li:not(:last-child) {
    margin-bottom: 15px;
  }

  & a {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  & img {
    width: 50px;
    height: 50px;
  }
}
