@use "styles/bootstrap" as *;

.button {
  padding: 16px;
  text-align: center;
  position: sticky;
  bottom: 0;
  z-index: 1;
  border: 5px solid $darkGreen;
  background-color: $greenMint;
  
  @include media(tablet){
    bottom: 65px;
  }

  @include media(laptopMedium) {
    position: fixed;
    top: 150px;
    right: 10px;
    bottom: auto;
    border-radius: 30%;
  }
}

.icon {
  fill: $darkGreen;
}
