@use "styles/bootstrap" as *;

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
  padding: 10px 10px 10px 0;
  background-color: $orangeAccent;
  color: $whiteColor;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 600;
  transition: opacity 0.2s;
  cursor: "pointer";
}
.icon {
  width: 40px;
}
