@use "styles/bootstrap" as *;

.addProductModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // background-color: $grayLight;
  // opacity: 0.5;
  z-index: 100000;
}

.wrapper {
  width: 100%;
  padding: 25px;
  background-color: $grayLight;
}

.image {
  width: 100%;
}
