@use "styles/bootstrap" as *;

.aboutUs {
  display: flex;
  padding: 180px 0;

  & > div {
    width: calc((100% - 15px) / 2);

    & p:last-child {
      margin-bottom: 65px;
    }

    & > img {
      width: 100%;
    }
  }

  & > div:last-child {
    padding: 25px;
    font-size: 22px;
  }

  & h2 {
    margin-bottom: 25px;
  }
}

.list {
  & p,
  & span {
    display: inline-block;
    margin-bottom: 15px;
  }
}

.about {
  display: flex;
  flex-direction: column;
  gap: 15px;

  & span {
    margin-bottom: 0;
  }

  & img {
    margin-left: 5px;
  }
}
