@use "styles/colors" as *;

.wrapper {
  :global(.swiper-button-prev) {
    &::after {
      content: url(../../../../assets/svg/ArrowSwiper.svg);
    }
    bottom: 8px;
    left: 70%;
    top: auto;
    cursor: pointer;
    opacity: 0.5;
  }
  :global(.swiper-button-next) {
    &::after {
      content: url(../../../../assets/svg/ArrowSwiper.svg);
    }
    transform: rotate(180deg);
    bottom: 0;
    top: auto;
    cursor: pointer;
    opacity: 0.5;
  }

  :global(.swiper-button-disabled) {
    display: none;
  }
}

.itemsWrapper {
  & img {
    width: 100%;
  }
}
