@use "styles/bootstrap" as *;

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 40px);
  max-width: $max-content-width;
  margin-bottom: auto;

  @include media(laptopMedium) {
    width: calc(100% - 15rem);
  }
  @include media(mobile) {
    width: calc(100% - 30px);
  }
}

.mainMaxHeight {
  height: 100%;
}

footer {
  width: 100%;
}
