@use "styles/bootstrap" as *;

.productWrapper {
  width: 100%;
  @include media(laptop) {
    display: flex;
    align-items: flex-start;

    & > :nth-child(2) {
      width: 18%;
      flex-shrink: 0;
    }

    & > :nth-child(3) {
      flex: 1;
    }
  }
}
