@use "styles/bootstrap" as *;

.header {
  position: fixed;
  width: calc(100% - 16px);
  max-width: $max-content-width;
  padding: 5px 0;
  background-color: $pageBackground;
  z-index: 10000;

  @include media(laptop) {
    width: calc(100% - 15rem);
    padding: 10px 0;
  }
  @include media(mobile) {
    width: calc(100% - 30px);
  }
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 110px;
  height: 40px;
}
