@use "styles/bootstrap" as *;

.wrapper {
  padding: 32px 15px 0;
  text-align: center;
  margin-bottom: 65px;
  color: $gunmetal;
  background: $footerBackground;

  & > div:first-child {
    @media only screen and (min-width: 800px) {
      display: flex;
      justify-content: space-between;
    }

    & > div:first-child {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 30px;
    }
  }

  & p {
    color: $gunmetal;
  }

  & ul {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-bottom: 20px;
    text-align: start;

    @media only screen and (min-width: 800px) {
      width: 70%;
    }
  }
  li {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: calc(50% - 15px);

    & > span {
      display: flex;
      align-items: center;
    }

    & img {
      margin-left: 10px;
    }

    @include media(tabletLarge) {
      width: calc((100% - 50px) / 3);
    }
  }

  & nav {
    display: flex;
    flex-direction: column;
  }

  & a {
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 15px;
    color: $gunmetal;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  @include media(laptop) {
    margin-bottom: 0;
  }
}

.logo {
  width: 165px;
  height: 60px;
  margin-bottom: 30px;
}

.title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
}

.text {
  font-size: 14px;
  font-weight: 300;
}

.copyright {
  padding: 15px 0;
  font-size: 12px;
  & p {
    text-align: center;
  }
}
