@use "styles/bootstrap" as *;

.wrapper {
  margin-bottom: 70px;

  & h1 {
    font-size: 32px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 15px;
    text-align: center;
  }

    & a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 15px 0;
    font-weight: 600;
    color: $gunmetal;
    border: 1px solid $gunmetal;
    margin-top: auto;
    text-transform: uppercase;

    &:hover,
    &:focus {
      color: $whiteColor;
      background-color: $gunmetal;
    }

    @include media(laptopMedium) {
      padding: 10px;
      font-size: 14px;
      letter-spacing: 0.1rem;
    }
  }

  :global(.swiper-button-prev) {
    &::after {
      content: url(../../../../assets/svg/ArrowSwiper.svg);
    }
    cursor: pointer;
  }
  :global(.swiper-button-next) {
    &::after {
      content: url(../../../../assets/svg/ArrowSwiper.svg);
      rotate: 180deg;
      transform: translateY(-8px);
    }
    cursor: pointer;
  }

  :global(.swiper-button-disabled) {
    display: none;
  }

    :global(.swiper-slide) {
    height: auto;
  }
}

.itemsWrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.imageWrapper {
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-bottom: 10px;
  height: 255px;

  & img {
    width: 100%;
    transition: transform 0.3s ease;

    &:hover,
    &:focus {
      transform: scale(1.08);
    }
  }
}

.info {
  display: flex;
  flex-direction: column;
  color: $backdropColor;

  & > p {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
}

.price {
  margin-bottom: auto;
}
