@use "styles/bootstrap" as *;

.categories {
  margin-bottom: 100px;

  @include media(tabletLargeMin) {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-right: -15px;

    & > * {
      width: calc(50% - 1rem);
    }
  }

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
  }

  & > div:not(:last-child) {
    margin-bottom: 10px;
  }
}
