@use "styles/bootstrap" as *;

.topContainer {
  position: relative;
  display: flex;
  align-items: center;
  height: 180px;
  margin: 46px 0 20px;
  width: 100vw;
  background: $footerBackground;

  overflow: hidden;

  & img {
    position: relative;
    width: 100%;
    z-index: 0;
  }

  & > div {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $black40;
      z-index: 1;
      pointer-events: none;
    }
  }

  & h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 38px;
    text-transform: uppercase;
    color: $whiteColor;
    text-align: center;
    z-index: 100;
  }

  @include media(tabletLargeMin) {
    height: 280px;
  }

  @include media(laptopUp) {
    margin-top: 76px;
  }
}
